
/* Paper card styles */
.paper-card {
    border: 1px solid #ccc;
    margin: 3px;
    padding: 10px;
    width: 250px;
    height: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.paper-card:hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.paper-title-with-figures {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    height: 80px;
}

.paper-title-no-figures {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    height: 40px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}
